@import "tailwindcss";

body{
    background-color: rgb(246, 243, 243);
}

.base{
    background-color: rgba(112, 110, 110, 0.627);
}
.brand{
    border-bottom: 1px solid black;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none;    /* for Firefox */
}